* {
    margin: 0%;
    padding: 0%;
}

body {

width: 100%;
height: 100%;
margin: 0;
width: 0;

}

div {

width: 850px;
height: 550px;
background-color: grey;

}

div p {

color: white;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
padding-top: 10px;
text-transform: capitalize;

}

.font {
width: 200px;
height: 70px;
background-color: green;
margin-left: auto;
margin-right: auto;
border-radius: 15px;
}

.font p {

color: gold;
font-size: 20px;
font-weight: bolder;
line-height: 50px;

}